<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{camionDetail.id}}</h5>

    <p class="card-text">{{camionDetail.id}}</p>
    <p class="card-text">{{camionDetail.origen}}</p>
    <p class="card-text">{{camionDetail.destino}}</p>
    <p class="card-text">{{camionDetail.claseRecurso}}</p>
    <p class="card-text">{{camionDetail.descripcion}}</p>
    <p class="card-text">{{camionDetail.formaOtorgamiento}}</p>
    <p class="card-text">{{camionDetail.numero}}</p>
    <p class="card-text">{{camionDetail.volumen}}</p>

    <p class="card-text">{{camionDetail.idCon}}</p>
    <p class="card-text">{{camionDetail.nombreCon}}</p>
    <p class="card-text">{{camionDetail.apellidoCon}}</p>
    <p class="card-text">{{camionDetail.cedulaCon}}</p>

    <p class="card-text">{{camionDetail.idArb}}</p>
    <p class="card-text">{{camionDetail.nombreArb}}</p>
    <p class="card-text">{{camionDetail.nombreCientificoArb}}</p>
    <p class="card-text">{{camionDetail.descripcionArb}}</p>
    <p class="card-text">{{camionDetail.urlImagenArb}}</p>
    <p class="card-text">{{camionDetail.densidadArb}}</p>

    <p class="card-text">{{camionDetail.idEmpresa}}</p>
    <p class="card-text">{{camionDetail.nombreEmpresa}}</p>
    <p class="card-text">{{camionDetail.nitEmpresa}}</p>

    <p class="card-text">{{camionDetail.idCaminon}}</p>
    <p class="card-text">{{camionDetail.marcaCamion}}</p>
    <p class="card-text">{{camionDetail.descripcionCamion}}</p>
    <p class="card-text">{{camionDetail.placaCamion}}</p>

  </div>
</div>
